{% extends 'Root.html'%}{%load static%} {%block navbar%} {%include 'Menu.html'%} {%endblock navbar%} {%block content%}
<div class="section">
    <div class="content-wrap">
        <div class="container">
            <div class="row">
                <div class="alert alert-success" role="alert">
                    Selamat {{nama}} Registrasi anda telah berhasil !
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock content%}{%block footer%} {%include 'Footer.html'%} {%endblock footer%}