{%load static%}
<style>
    .map-container iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: relative;
    }
</style>
<div class="section cta">
    <div class="content-wrap-20">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="cta-1">
                        <div class="body-text">
                            <h3>Ulurkan Bantuan Anda Dengan Bergabung Bersama Kami</h3>
                        </div>
                        <div class="body-action">
                            <a href="{%url 'register'%}" class="btn btn-secondary">Daftar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER SECTION -->
<div class="footer">
    <div class="content-wrap">
        <div class="container">
            <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                <iframe src="https://maps.google.com/maps?q=Pondok+Pesantren+Fahim+Quran+Plus&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <div class="fcopy">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <p class="ftex">Copyright 2020 &copy; <span class="color-primary">DAFQ</span>. Designed by <span class="color-primary">K-Team</span></p>
                </div>
            </div>
        </div>
    </div>

</div>